<div class="fullScreen">
  <!-- <h1>This is the root componet</h1> -->
  <!-- <my-cool-component></my-cool-component>

<my-cool-component></my-cool-component> -->
  <!-- <neal-comp></neal-comp> -->

  <!-- <my-cool-component></my-cool-component> -->

  <!-- <inter-polation></inter-polation>
  <app-property-binding></app-property-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-two-way-data-binding></app-two-way-data-binding> -->

  <!-- <app-structural-directives></app-structural-directives> -->
  <!-- <h1>This is a better way</h1>
  <app-parent-component></app-parent-component> -->
  <!-- <app-parent-component></app-parent-component> -->
  <!-- <app-the-parent-componet></app-the-parent-componet> -->

  <app-main></app-main>
</div>
